on:
  push:
    branches:
      - main

name: ShipEngine Python CD
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: python

      # Checkout code if release was created
      - uses: actions/checkout@v4
        if: ${{ steps.release.outputs.release_created }}

      # Setup Python if release was created
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
        if: ${{ steps.release.outputs.release_created }}

      - name: Install dependancies
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry
          poetry install
        if: ${{ steps.release.outputs.release_created }}

      - name: Build the code
        run: |
          poetry build
        if: ${{ steps.release.outputs.release_created }}

      - name: Publish package
        run: |
          poetry publish
        env:
          POETRY_PYPI_TOKEN_PYPI: ${{ secrets.PYPI_TOKEN }}
        if: ${{ steps.release.outputs.release_created }}
